extend ../base.pug

block variables
  - var template = 'about'

block vars 
  - var title =about.data.meta_title
  - var description =about.data.meta_description
  - var link__1 = '/projets'
  - var page__1 = 'projets'
  - var link__2 = '/galerie'
  - var page__2 = 'Galerie'
  - var link__3 = '/contact'
  - var page__3 = 'Contact'

block content   
  .about.fading
    include ../partials/menu
    include ../partials/main__navigation
    .about__introduction
      div
        //- h1!=about.data.description.replace(/\n/, '<br><br>')
        h1=about.data.description
      div
        h1=about.data.description__bas
    .about__description
      each media in about.data.images
        figure.about__description__images
          .about__description__images__animation
            img.preload(src=media.image.url alt=media.alt)
          .about__description__text
            h3=media.nom 
            h4=media.email
    include ../partials/footer
