extend ../base.pug

block variables
  - var template = 'monaco'

block vars 
  - var link__1 = '/projets'
  - var page__1 = 'projets'
  - var link__2 = '/propos'
  - var page__2 = 'Propos'
  - var link__3 = '/contact'
  - var page__3 = 'Contact'
  - var title =monaco.data.meta_title
  - var description =monaco.data.meta_description

  
block content   
  .monaco.fading
    .monaco__wrapper
      include ../partials/menu
      include ../partials/page__navigation
      .saint-gilles__introduction  
        h1(data-animation="header")=monaco.data.title
        h2(data-animation="header")!=monaco.data.description.replace(/\n/, '<br><br>')

        each section in monaco.data.body
          if section.slice_type == 'one_image'
            section.saint-gilles__two
              img.saint-gilles__image(src=section.primary.image.url data-animation="image")
          if section.slice_type == 'two_image'
            section.saint-gilles__two
              img.saint-gilles__image(src=section.primary.image.url data-animation="image-left")
              img.saint-gilles__image(src=section.primary.image2.url data-animation="image")
      include ../partials/footer