extend ../base.pug

block variables
  - var template = 'projets'

block vars 
  - var title =projets.data.meta_title
  - var description =projets.data.meta_description
  - var link__1 = '/galerie'
  - var page__1 = 'galerie'
  - var link__2 = '/propos'
  - var page__2 = 'Propos'
  - var link__3 = '/contact'
  - var page__3 = 'Contact'

block content   
  .projets.fading
    include ../partials/menu
    include ../partials/main__navigation
    each media in projets.data.module_one
      .projets__holder 
        .projets__holder__image
          img.projets__gallery__media__image(src=media.image.url alt=media.image.alt loading="lazy")
          a.fetch(href='/silence')
            h1=media.description_image
        .projets__holder__image
          img.projets__gallery__media__image(src=media.image2.url alt=media.image2.alt loading="lazy")
          a.fetch(href='/saint-gilles')
            h1=media.description_image2
        .projets__holder__image
          img.projets__gallery__media__image(src=media.image3.url alt=media.image3.alt loading="lazy")
          a.fetch(href='/monaco')
            h1=media.description_image3
    include ../partials/footer 